$primary : #E3F5FF;
$primary-varient : #E5ECF6;
$primary-varient-dark : #0088CC;
$base : #F2F2F2;
$white : white;
$black : #000000;
$black-light : #00000066;

$heading : 20px;
$subheading : 16px;
$content : 14px;